
.icon-mail:before { content: '\e800'; } /* '' */
.icon-instagram:before { content: '\f05d'; } /* '' */
.icon-facebook:before { content: '\f30c'; } /* '' */
.icon-pinterest:before { content: '\f312'; } /* '' */